

@font-face {
	font-family: 'iconfont';
	/* project id 354480 */
	src: url('http://at.alicdn.com/t/font_jnc5spj0xrlcv7vi.eot');
	src: url('http://at.alicdn.com/t/font_jnc5spj0xrlcv7vi.eot?#iefix') format('embedded-opentype'), url('http://at.alicdn.com/t/font_jnc5spj0xrlcv7vi.woff') format('woff'), url('http://at.alicdn.com/t/font_jnc5spj0xrlcv7vi.ttf') format('truetype'), url('http://at.alicdn.com/t/font_jnc5spj0xrlcv7vi.svg#iconfont') format('svg');
}

.iconfont {
	font-family: 'iconfont';
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

header {
	width: 100%;
	height: 40px;
	background: #333;
	/* margin-top: 20px; */
}

main {
	width: 1226px;
	height: 100%;
	margin: 0 auto;
	/* background: pink; */
}

.head-left {
	height: 40px;
	float: left;
}

.head-left li {
	float: left;
	line-height: 40px;
	font-size: 12px;
}

.head-left li a {
	color: #b0b0b0;
	padding-left: 8px;
	padding-right: 9px;
	border-right: 1px solid #424242;
}

.head-left li .first {
	padding-left: 0px;
}

.head-left li .last {
	border-right: none;
}

.head-left li a:hover {
	color: #fff;
}

.head-right {
	width: 280px;
	height: 100%;
	float: right;
	position: relative;
	/* background: pink; */
}

.as {
	width: 140px;
	line-height: 40px;
	float: left;
}

.as a {
	font-size: 12px;
	color: #b0b0b0;
	padding-right: 7px;
	border-right: 1px solid #424242;
	/* padding-left: 7px; */
	/* float: left; */
}


/* .head-right .login{
	padding-left: 0px;
} */

.head-right .message {
	border-right: none;
}

.head-right .as a:hover {
	color: #fff;
}

.head-right .shop {
	width: 108px;
	height: 40px;
	float: right;
	font-size: 12px;
	display: block;
	line-height: 40px;
	text-align: center;
	padding-left: 12px;
	background: #424242 url('../img/购物车空.png') no-repeat 16px center;
	background-size: 20px 20px;
}

.head-right .shop a {
	width: 100%;
	height: 100%;
	color: #b0b0b0;
	display: block;
}

.head-right .shop:hover {
	background: #fff url('../img/购物车空 (1).png') no-repeat 16px center;
	background-size: 20px 20px;
}

.head-right .shop:hover a {
	color: #FF6700;
}

.shop-hid {
	width: 316px;
	height: 0;
	overflow: hidden;
	background: #FFFFFF;
	color: #424242;
	font-size: 12px;
	line-height: 100px;
	text-align: center;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
	position: absolute;
	top: 40px;
	right: 0;
	z-index: 10;
	transition: 0.5s;
}


/* 导航开始 */

.navi {
	width: 100%;
	height: 100px;
	position: relative;
}

.navi-left {
	float: left;
	width: 55px;
	height: 55px;
	margin-top: 22px;
	background: black;
}

.navi-left2 {
	width: 165px;
	float: left;
	height: 100px;
	margin: 0 12px;
}

.navi-left2 img {
	width: 100%;
	margin-top: 17px;
}

.navi-hid{
	width: 100%;
	height: 230px;
	background: #fff;
	overflow: hidden;
	position: absolute;
	top: 100px;
	left: 0;
	z-index: 99;
	transition: .5s;
	border-top: 1px solid #e0e0e0;
	display: none;
}
.navi-hid1{
	width: 100%;
	height: 0px;
	background: red;
	position: absolute;
	top: 100px;
	left: 0;
	z-index: 49;
	transition: .5s;
	/*border-top: 1px solid #e0e0e0;*/
}
.navi-hid ul{
	width: 1226px;
	height: 100%;
	/*background: red;*/
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 999;
}
.navi-hid ul li{
	width: 204px;
	float: left;
	text-align: center;
	line-height: normal;
	font-size: 12px;
}
.navi-ul-text1{
	height: 24px;
	margin-bottom: 15px;
}
.navi-ul-text{
	/*width: 66px;*/
	display: inline-block;
	padding: 0 20px;
	height: 22px;
	border: 1px solid #ff6700;
	margin: 0 auto;
	line-height: 22px;
	text-align: center;
	color: #ff6700;
	font-size: 12px;
	margin-bottom: 15px;
}
.navi-hid ul li a:nth-of-type(1){
	width: 100%;
	height: 100px;
	display: block;
	border-right: 1px solid #e0e0e0;	
	margin-bottom: 25px;
}
.navi-hid ul li:last-of-type a:nth-of-type(1){
	border-right: none;
}
.navi-hid ul li a:nth-of-type(1) img{
	/*width: 100px;*/
	height: 100%;
}
.navi-hid ul li a:nth-of-type(2){
	color: #333333;
	display: inline-block;
}
.navi-hid ul li p{
	color: #ff6700;
	line-height: 35px;
}




nav {
	width: 670px;
	height: 100%;
	/* background: yellow; */
	float: left;
}

nav>ul>li {
	float: left;
	line-height: 100px;
	font-size: 16px;
	padding-right: 20px;
}

nav>ul>li>a {
	color: #333;
}

nav>ul>li>a:hover {
	color: #FF6700;
}

.navi-right {
	width: 296px;
	height: 50px;
	margin-top: 25px;
	float: right;
	position: relative;
}

.navi-r-left {
	width: 235px;
	height: 48px;
	padding-left: 10px;
	border: 1px solid #e0e0e0;
	border-right: 0;
	float: left;
	outline: none;
}

.navi-r-right {
	width: 50px;
	height: 50px;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	outline: none;
	float: left;
	background: #fff url('../img/搜索.png') no-repeat center center;
	background-size: 20px 20px;
}

.navi-r-right:hover {
	background: #ff6700 url('../img/搜索 (1).png') no-repeat center center;
	background-size: 20px 20px;
	cursor: pointer;
}

.input-a,
.input-b {
	font-size: 12px;
	height: 18px;
	display: block;
	line-height: 18px;
	text-align: center;
	background: #eee;
	position: absolute;
	color: #757575;
}

.input-a {
	width: 53px;
	left: 93px;
	top: 15px;
}

.input-b {
	width: 82px;
	left: 151px;
	top: 15px;
}

.input-a:hover {
	background: #ff6700;
	color: #fff;
}

.input-b:hover {
	background: #ff6700;
	color: #fff;
}

.navi-item{
	width: 294px;
	border: 1px solid #FF6700;
	background: #fff;
	border-top: none;
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 49;
	display: none;
}
.navi-item li{
	height: 30px;
	line-height: 30px;
	padding: 0px 15px;
}
.navi-item li:hover{
	background: #FAFAFA;
}
.navi-item li a{
	font-size: 12px;
	color: #424242;
	width: 100%;
	height: 100%;
	display: block;
}
.navi-item li a p:nth-of-type(1){
	display: inline-block;
	float: left;
}
.navi-item li a p:nth-of-type(2){
	display: inline-block;
	float: right;
	color: #B0B0B0;
}


/* 导航结束 */


/* 某部分开始 */

.banner {
	width: 100%;
	height: 460px;
}

.banner main {
	position: relative;
}

.banner-box {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.banner-box li {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.banner-box li a {
	display: block;
	font-size: 0;
}


.btn{
	position: absolute;
	bottom: 20px;
	right: 20px;
	/*z-index: 99;*/
}
.btn li{
	float: left;
	border-radius: 50%;
	margin: 0 5px;
	width: 6px;
	height: 6px ;
	background: rgba(0,0,0,0.4);
	border: 2px solid rgba(255,255,255,0.3);
	transition: 0.5s;
}
.btn .hot{
	background: rgba(255,255,255,0.4);
	border-color: rgba(0,0,0,0.4);
}
.btn li:hover{
	background: rgba(255,255,255,0.4);
	border-color: rgba(0,0,0,0.4);
	cursor: pointer;
}





aside {
	width: 234px;
	height: 100%;
	/*position: absolute;
	top: 0;
	left: 0;*/
	background-color: rgba(0, 0, 0, 0.6);
}

aside>ul {
	width: 100%;
	height: auto;
	padding: 20px 0;
	/*position: relative;*/
}

aside>ul>li {
	width: 203px;
	height: 42px;
	padding-left: 30px;
	line-height: 42px;
	font-size: 12px;
	background: url('../img/下拉.png') no-repeat 193px center;
	background-size: 20px 20px;
}

aside>ul>li:hover {
	background: #FF6700 url('../img/下拉2.png') no-repeat 193px center;
	background-size: 20px 20px;
}

aside>ul>li>a {
	color: #fff;
	display: block;
	font-weight: bold;
}

.asidehid{
	max-width: 992px;
	height: 460px;
	position: absolute;
	top: 0;
	left: 234px;
	background: #fff;
	z-index: 10;
	display: none;
	box-shadow: 0 2px 10px 1px rgba(0,0,0,0.3);
}
.asidehid>ul{
	float: left;
	width: 265px;
	height: 100%;
}
.asidehid>ul:nth-of-type(3){
	width: 231px;
}
.asidehid>ul:nth-of-type(4){
	width: 231px;
}
/*.asidehid ul:nth-of-type(1){
	position: absolute;
	top: 0;
	left: 265px;
}
.asidehid ul:nth-of-type(2){
	position: absolute;
	top: 0;
	left: 530px;
}
.asidehid ul:nth-of-type(3){
	position: absolute;
	top: 0;
	left: 795px;
	z-index: 999;
}*/
.asidehid li{
	width: 265px;
	height: 76px;
	/*float: left;*/
}
.asidehid li a{
	width: 100%;
	height: 100%;
	display: block;
	color: #333;
	padding: 23px 8px 0 25px;
	box-sizing: border-box;
}
.asidehid a div:nth-of-type(1){
	width: 31px;
	height: 36px;
	float: left;
}
.asidehid a div:nth-of-type(1) img{
	width: 100%;
	height: 100%;
}
.asidehid a span{
	line-height: 35px;
	margin-left: 17px;
	float: left;
	font-size: 14px;
}
.asidehid a span:hover{
	color: #FF6700;
}
.asidehid a div:nth-of-type(2){
	width: 60px;
	height: 24px;
	border: 1px solid #ff6700;
	float: right;
	line-height: 24px;
	text-align: center;
	margin-top: 5px;
}
.asidehid a div:nth-of-type(2):hover{
	background: #FF6700;
	color: #fff;
}





.banner-r-left,.banner-r-right {
	width: 41px;
	height: 69px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
}

.banner-r-left{
	left: 234px;
	background: url('../img/icon 切换 左.png') no-repeat center;
}

.banner-r-right {
	right: 0;
	background: url('../img/icon 切换 右 (1).png') no-repeat center;
}

.banner-r-left:hover {
	cursor: pointer;
	background: rgba(0,0,0,0.4) url('../img/icon 切换 左1.png') no-repeat center;
}

.banner-r-right:hover {
	cursor: pointer;
	background: rgba(0,0,0,0.4) url('../img/icon 切换 右 (2).png') no-repeat center;
}


/* 某部分结束 */

.shangpin {
	width: 100%;
	height: 170px;
	margin-top: 14px;
}

.one {
	width: 234px;
	height: 100%;
	float: left;
	margin-right: 14px;
	background: #5f5750;
}

.one .a1,
.a2 {
	width: 64px;
	height: 70px;
	display: block;
	float: left;
	color: #cdcac8;
	text-align: center;
	margin-top: 9px;
	margin-left: 7px;
	font-size: 30px;
}

.one .a1 span {
	font-size: 12px;
	display: inline-block;
	float: left;
	margin-top: 5px;
	margin-left: 8px;
}

.one .a2 span {
	font-size: 12px;
	display: inline-block;
	float: left;
	margin-top: 5px;
	margin-left: 8px;
}

.one .a2 .span0 {
	margin-left: 14px;
}

.one .a1:hover {
	color: #fff;
}

.one .a2:hover {
	color: #fff;
}

.one .a2 {
	margin-top: 0;
}

.one .shu {
	width: 1px;
	height: 70px;
	float: left;
	background: #665e57;
	margin-top: 9px;
	margin-left: 6px;
}

.one .shu2 {
	margin-top: 0;
}

.one .heng {
	width: 64px;
	height: 1px;
	float: left;
	background: #665e57;
	margin: 6px 7px 6px 7px;
}

.one .heng1 {
	margin-right: 0px;
}

.two,
.three,
.four {
	width: 316px;
	height: 100%;
	float: left;
	margin-right: 15px;
	display: block;
	transition: all 0.2s;
}

.two:hover {
	box-shadow: 0px 15px 20px 6px rgba(220, 220, 220, 0.4);
}

.three:hover {
	box-shadow: 0px 15px 20px 6px rgba(220, 220, 220, 0.4);
}

.four:hover {
	box-shadow: 0px 15px 20px 6px rgba(220, 220, 220, 0.4);
}

.sp-img {
	width: 316px;
	height: 170px;
}

.four {
	margin-right: 0;
}


/* 明星单品开始 */

.star {
	height: 440px;
	width: 100%;
	margin-top: 24px;
}

.star-head {
	height: 60px;
}

.star-text {
	width: 200px;
	height: 100%;
	float: left;
	line-height: 60px;
	font-size: 20px;
	color: #333333;
}

.star-qie {
	width: 71px;
	height: 24px;
	float: right;
	margin-top: 26px;
}

.star-qie-left,.star-qie-right {
	width: 34px;
	height: 22px;
	border: 1px solid #e0e0e0;
	float: left;
	line-height: 24px;
	text-align: center;
	color: #E0E0E0;
	font-size: 14px;
}
.star-qie-right{
	margin-left: -1px;
}

.star-qie-left:hover{
	cursor: pointer;
}
.star-qie-right:hover{
	cursor: pointer;
}
.star-big{
	width: 2480px;
	height: 340px;
	/*overflow: hidden;*/
	transition: 0.5s;
}
.star-view{
	width: 1226px;
	height: 340px;
	overflow: hidden;
}
.star-box {
	width: 234px;
	height: 339px;
	border-top: 1px solid #ffac13;
	background: #fafafa;
	text-align: center;
	float: left;
	margin-right: 14px;
}

.star-box2 {
	border-top: 1px solid #83c44e;
}

.star-box3 {
	border-top: 1px solid #2196f3;
}

.star-box4 {
	border-top: 1px solid #e53935;
}

.star-box5 {
	border-top: 1px solid #00c0a5;
}

.a-img {
	width: 100%;
	height: 232px;
	display: block;
}

.a-img img {
	width: 160px;
	height: 160px;
	margin-top: 56px;
}

.a-intr {
	color: #212121;
	font-size: 12px;
	display: inline-block;
	margin-bottom: 11px;
}

.span-intr {
	color: #b0b6c9;
	font-size: 12px;
	display: inline-block;
	margin-bottom: 18px;
}

.price {
	color: #ff6709;
	font-size: 12px;
}


/* 明星单品结束 */


/*智能硬件开始 */

.zhineng {
	width: 100%;
	height: 732px;
	background: #f5f5f5;
}

.zhineng-text {
	width: 100%;
	height: 60px;
	float: left;
	margin-top: 59px;
}

.zhineng-text-left {
	width: 200px;
	float: left;
	height: 100%;
	line-height: 60px;
	font-size: 20px;
	color: #333333;
}

.zhineng-text-right {
	width: 150px;
	float: right;
	margin-right: 28px;
	height: 100%;
	text-align: right;
	line-height: 60px;
	font-size: 16px;
	color: #424242;
	transition: all 0.6s;
}

.zhineng-text-right:hover {
	color: #ff6700;
}

.zhineng-text-right>div {
	width: 20px;
	height: 20px;
	float: right;
	border-radius: 50%;
	margin-top: 20px;
	margin-left: 8px;
	background: #b0b0b0 url('../img/more.png') no-repeat right center;
	background-size: 20px 20px;
	transition: all 0.6s;
}

.zhineng-text-right:hover div {
	background: #ff6700 url('../img/more.png') no-repeat right center;
	background-size: 20px 20px;
}

.zhineng-left {
	width: 234px;
	height: 614px;
	float: left;
	background: red;
	margin-right: 14px;
	transition: all 0.4s;
}

.zhineng-left:hover {
	transform: translateY(-3px);
}

.zhineng-r-box{
	width: 978px;
	height: 614px;
	float: right;
}

.zhineng-right {
	width: 978px;
	height: 614px;
	display: none;
	float: right;
}

.zhineng-box {
	width: 234px;
	height: 300px;
	background: #fff;
	text-align: center;
	float: left;
	margin-right: 14px;
	margin-bottom: 14px;
	overflow: hidden;
	position: relative;
	transition: all 0.6s;
}

.zhineng-box:hover {
	transform: translateY(-3px);
	box-shadow: 0px 9px 15px 7px rgba(216, 216, 216, 0.5);
}

.zhineng-box:hover .zhineng-hid {
	bottom: 0;
}

.zhineng-last {
	margin-right: 0px;
}

.zhineng-no {
	margin-bottom: 0;
}

.zhineng-img {
	width: 100%;
	height: 200px;
	display: block;
}

.zhineng-img img {
	width: 160px;
	height: 160px;
	margin-top: 40px;
}

.zhineng-intr1 {
	color: #212121;
	font-size: 12px;
	display: inline-block;
	margin-bottom: 6px;
}

.zhineng-intr2 {
	color: #b0b6c9;
	font-size: 12px;
	display: inline-block;
	margin-bottom: 18px;
}

.price {
	color: #ff6709;
	font-size: 12px;
}

.zhineng-hid {
	width: 100%;
	height: 75px;
	background: #ff6709;
	position: absolute;
	left: 0;
	bottom: -75px;
	z-index: 6;
	transition: all 0.4s;
}

.zhineng-hid a {
	color: #fff;
	font-size: 12px;
	padding: 8px 29px;
	display: block;
}

.zhineng-hid a div {
	width: 169px;
	line-height: 18px;
	text-align: start;
	overflow: hidden;
}

.zhineng-hid a span {
	margin-top: 8px;
	display: block;
	color: #ffc096;
}


/*智能硬件结束 */


/* 家电开始 */

.jiadian-text-right {
	width: 272px;
	float: right;
	height: 100%;
	line-height: 60px;
	font-size: 16px;
	transition: all 0.6s;
}

.jiadian-text-right li {
	float: left;
	padding: 4px 16px;
}

.jiadian-text-right li a {
	color: #424242;
	padding: 5px 0px;
}

.jiadian-text-right li:last-child {
	padding-right: 0;
}

.jiadian-text-right li .znjd{
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
}

.jiadian-left {
	width: 234px;
	height: 614px;
	float: left;
	/* background: red; */
	margin-right: 14px;
}

.jiadian-left img {
	width: 234px;
	height: 300px;
}

.jiadian-left-1,
.jiadian-left-2 {
	width: 100%;
	height: 300px;
	transition: all 0.4s;
	display: block;
}

.jiadian-left-1 {
	margin-bottom: 14px;
}

.jiadian-left-1:hover {
	transform: translateY(-3px);
}

.jiadian-left-2:hover {
	transform: translateY(-3px);
}


.zhineng-right .jiadian-8-1,.jiadian-8-2 {
	width: 234px;
	height: 143px;
	background: #fff;
	float: left;
	transition: all 0.6s;
}

.jiadian-8-1 {
	margin-bottom: 14px;
}

.jiadian-8-1:hover {
	transform: translateY(-3px);
	box-shadow: 0px 9px 15px 7px rgba(216, 216, 216, 0.5);
}

.jiadian-8-2:hover {
	transform: translateY(-3px);
	box-shadow: 0px 9px 15px 7px rgba(216, 216, 216, 0.5);
}

.jiadian-8-1 div {
	float: left;
	width: 80px;
	height: 45px;
	margin-top: 42px;
	margin-left: 30px;
	font-size: 14px;
}

.jiadian-8-1 div a {
	color: #333f52;
	margin-bottom: 12px;
	float: left;
}

.jiadian-8-1 div span {
	color: #ff6b17;
	float: left;
}

.jiadian-8-1>a {
	float: right;
	margin-right: 20px;
	margin-top: 32px;
}

.jiadian-8-1 a img {
	width: 80px;
	height: 80px;
}

.jiadian-8-2 div {
	float: left;
	width: 80px;
	height: 45px;
	margin-top: 50px;
	margin-left: 30px;
}

.jiadian-8-2 div a {
	color: #333;
	margin-bottom: 12px;
	float: left;
	font-size: 18px;
}

.jiadian-8-2 div a span {
	color: #818181;
	font-size: 12px;
}

.jiadian-8-2>a {
	float: right;
	margin-right: 35px;
	font-size: 48px;
	line-height: 143px;
	color: #ff6700;
}


/* 家电结束 */


/* 搭配开始 */

.dapei-text-right {
	width: 320px;
}


/* 搭配结束 */


/* 配件开始 */

.peijian-text-right {
	width: 288px;
}


/* 配件结束 */


/* 周边开始 */

.zhoubian-text-right {
	width: 336px;
}


/* 周边结束 */


/* 为你推荐开始 */

.tuijian {
	height: 358px;
	width: 100%;
	padding-top: 24px;
	background: #f5f5f5;
}

.tuijian-view{
	width: 1226px;
	height: 100%;
	overflow: hidden;
}
.tuijian-big{
	width: 1240px;
	height: 100%;
	transition: 1s;
}
.tuijian-box {
	width: 234px;
	height: 300px;
	background: #fff;
	text-align: center;
	float: left;
	margin-right: 14px;
	transition: all 0.2s;
}


.tuijian-box:hover {
	height: 298px;
	box-shadow: 0px 12px 15px 8px rgba(216, 216, 216, 0.6);
}

.tuijian-img {
	display: block;
	width: 234px;
	height: 200px;
}

.tuijian-img img {
	width: 160px;
	height: 160px;
	margin-top: 40px;
}

.tuijian-intr {
	color: #212121;
	font-size: 14px;
	display: inline-block;
	margin-bottom: 10px;
}

.tuijian-price {
	color: #ff6709;
	font-size: 12px;
	display: inline-block;
	margin-bottom: 10px;
}

.tuijian1-intr {
	color: #b0b6c9;
	font-size: 12px;
	display: inline-block;
}

.tuijian-qie1,.tuijian-qie2 {
	width: 34px;
	height: 22px;
	border: 1px solid #e0e0e0;
	float: left;
	line-height: 22px;
	text-align: center;
	color: #E0E0E0;
	font-size: 14px;
}

.tuijian-qie1:hover {
	cursor: pointer;
}

.tuijian-qie1 {
	border-left: 0px;
}

.tuijian-qie2:hover {
	cursor: pointer;
}
.abled{
	color: #B0B0B0;
	/*color: red;*/
}
.abled:hover{
	color: #FF6700;
}

/* 为你推荐结束 */


/* 热评产品开始 */

.reping {
	height: 473px;
	width: 100%;
	padding-top: 24px;
	background: #f5f5f5;
}

.reping-ul {
	width: 100%;
	height: 415px;
}

.reping-ul li {
	width: 296px;
	height: 415px;
	background: #fff;
	float: left;
	margin-right: 14px;
	transition: all 0.2s;
}

.reping-ul li:last-of-type {
	margin-right: 0px;
}

.reping-ul li:hover {
	transform: translateY(-3px);
	box-shadow: 0px 12px 15px 8px rgba(216, 216, 216, 0.6);
}

.reping-ul li a:first-child {
	width: 100%;
	height: 220px;
	display: block;
	float: left;
}

.reping-ul li a>img {
	width: 296px;
	height: 220px;
}

.reping-li-text {
	width: 240px;
	height: 195px;
	margin: 0 auto;
}

.reping-ul li .reping-li-text a {
	width: 240px;
	height: 72px;
	display: block;
	color: #333;
	font-size: 12px;
	line-height: 25px;
	margin-top: 28px;
	margin-bottom: 10px;
}

.reping-ul li div a:last-of-type {
	display: inline;
	padding-right: 10px;
	border-right: 1px solid #e0e0e0;
}

.reping-ul li div span:first-of-type {
	font-size: 12px;
	color: #b0b0b0;
	display: inline-block;
	margin-bottom: 14px;
}

.reping-ul li div span:last-of-type {
	font-size: 12px;
	color: #ff7417;
}


/* 热评产品结束 */


/* 内容开始 */

.reping {
	height: 478px;
	width: 100%;
	padding-top: 24px;
	background: #f5f5f5;
}

.neirong-ul {
	width: 100%;
	height: 420px;
}

.neirong-ul li {
	width: 296px;
	height: 374px;
	padding-top: 45px;
	background: #fff;
	text-align: center;
	float: left;
	color: #ffac13;
	border-top: 1px solid #ffac13;
	margin-right: 14px;
	transition: all 0.3s;
	position: relative;
}

.neirong-ul li>a {
	width: 200px;
	height: 142px;
	display: inline-block;
}

.neirong-ul li:nth-of-type(2) {
	color: #83c44e;
	border-top: 1px solid #83c44e;
}

.neirong-ul li:nth-of-type(3) {
	color: #e53935;
	border-top: 1px solid #e53935;
}

.neirong-ul li:nth-of-type(4) {
	color: #2196f3;
	border-top: 1px solid #2196f3;
}

.neirong-ul li:last-of-type {
	margin-right: 0px;
}

.neirong-ul li:hover {
	transform: translateY(-3px);
	box-shadow: 0px 12px 15px 8px rgba(216, 216, 216, 0.6);
}

.neirong ul li p {
	width: 276px;
	height: 24px;
	display: block;
}

.nr-view{
	width: 296px;
	height: 280px;
	overflow: hidden;
}

.nr-big{
	width: 888px;
	transition: .5s;
}
.nr-big2{
	width: 1184px;
}

.nrbody{
	width: 296px;
	height: 100%;
	float: left;
}
.neirong-intr a:first-child {
	font-size: 20px;
	color: #333333;
	display: inline-block;
	margin-top: 18px;
	margin-bottom: 8px;
}

.neirong-intr a {
	font-size: 12px;
	line-height: 20px;
	color: #b4b4b4;
}

.neirong-intr a:last-child {
	color: #333;
	font-size: 14px;
	display: block;
	margin-top: 10px;
	margin-bottom: 15px;
}

.neirong ul li a img {
	width: 216px;
	height: 154px;
}

.neirong-li-b {
	height: 30px;
	width: 138px;
	/*margin-left: 109px;*/
	margin: 30px auto 0;
}
.neirong-ul>li:nth-of-type(2n+1) .neirong-li-b{
	width: 104px;
}



.neirong-li-b2 {
	width: 6px;
	height: 6px;
	float: left;
	display: inline-block;
	border-radius: 50%;
	background: #b0b0b0;
	margin: 12px 14px 0 14px;
}

.neirong-li-b2:hover {
	cursor: pointer;
	background: #ff6700;
}
.nr{
	width: 6px;
	height: 6px;
	float: left;
	border-radius: 50%;
	border: 2px solid #ff6700;
	margin: 10px 13px 0 13px;
	background: #fff;
}


.neirong-l,
.neirong-r {
	width: 20px;
	height: 48px;
	position: absolute;
	background: #d9d9d9;
	text-align: center;
	line-height: 48px;
	font-size: 14px;
	color: #fafafa;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	display: none;
	transition: all 0.4s;
}

.neirong-ul li:hover .neirong-l {
	display: block;
}

.neirong-ul li:hover .neirong-r {
	display: block;
}

.neirong-l {
	left: 0;
}

.neirong-r {
	right: 0;
}

.neirong-l:hover {
	cursor: pointer;
	background: #8d8d8d;
}

.neirong-r:hover {
	cursor: pointer;
	background: #8d8d8d;
}


/* 内容结束 */

.shipin {
	height: 343px;
	width: 100%;
	padding-top: 24px;
	background: #f5f5f5;
	padding-bottom: 60px;
}

.shipin-ul {
	width: 100%;
	height: 285px;
}

.shipin-ul li {
	width: 296px;
	height: 285px;
	background: #fff;
	float: left;
	margin-right: 14px;
	transition: all 0.2s;
}

.shipin-ul li:last-of-type {
	margin-right: 0px;
}

.shipin-ul li:hover {
	transform: translateY(-3px);
	box-shadow: 0px 12px 15px 8px rgba(216, 216, 216, 0.6);
}

.shipin-ul li>a {
	width: 296px;
	height: 180px;
	position: relative;
	display: block;
}

.shipin-ul li a>img {
	width: 296px;
	height: 180px;
}

.shipin-ul li>a:hover .play {
	border: 2px solid #ff6700;
	background: #ff6700;
}

.shipin-text {
	text-align: center;
}

.shipin-text a {
	color: #333;
	display: inline-block;
	margin-top: 25px;
	font-size: 12px;
	margin-bottom: 8px;
}

.shipin-text a:hover {
	color: #ff6700;
}

.shipin-text span {
	font-size: 12px;
	color: #b0b0b0;
}

.play {
	width: 32px;
	height: 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 2px solid #fff;
	border-radius: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 4px;
	color: #fff;
	position: absolute;
	left: 20px;
	bottom: 10px;
}

.zhineng-text-right span {
	font-size: 22px;
	display: block;
	height: 60px;
	width: 30px;
	float: right;
	line-height: 60px;
}


/* 联系我们开始 */

.contract {
	width: 100%;
	height: 272px;
}

.contract-ul {
	width: 100%;
	height: 69px;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 39px;
}

.contract-ul ul {
	width: 1219px;
	height: 25px;
	float: left;
	margin-top: 27px;
}

.contract-ul ul li {
	width: 243px;
	height: 25px;
	float: left;
	line-height: 25px;
	text-align: center;
	border-right: 1px solid #e0e0e0;
}

.i-span {
	font-size: 22px;
	margin-right: 3px;
}

.contract-ul ul li:last-child {
	border-right: 0;
}

.contract-ul ul li a {
	color: #616161;
	transition: all 0.4s;
}

.contract-ul ul li a:hover {
	color: #ff6700;
}

.con-l {
	float: left;
}

.con-l-1 {
	width: 160px;
	height: 112px;
	float: left;
}

.con-l-1 ul li:first-child {
	color: #424242;
	font-size: 14px;
	line-height: normal;
}

.con-l-1 ul li {
	height: 28px;
	line-height: 28px;
	width: 160px;
	float: left;
}

.con-l-1 ul li a {
	color: #818179;
	font-size: 12px;
}

.con-l-1 ul li a:hover {
	color: #ff6700;
}

.con-l-last {
	border-right: 1px solid #e0e0e0;
}

.con-r {
	float: right;
	width: 160px;
	height: 121px;
	text-align: center;
	margin-right: 35px;
}

.con-r span {
	color: #616161;
	font-size: 12px;
	line-height: 16px;
}

.con-r span:first-child {
	font-size: 22px;
	color: #ff6700;
	font-weight: bold;
	line-height: normal;
}

.con-r a {
	width: 118px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	display: block;
	margin: 15px auto 0;
	font-size: 12px;
	color: #ff6700;
	border: 1px solid #ff6700;
}

.con-r a:hover {
	background: #ff6700;
	color: #fff;
}


/* 联系我们结束 */


/* 版权开始 */

footer {
	width: 100%;
	height: 106px;
	padding: 30px 0;
	background: #fafafa;
}

.foot {
	width: 100%;
	height: 57px;
}

.foot div:first-child {
	float: left;
	margin-right: 9px;
	height: 57px;
	width: 57px;
}

.foot-mid {
	width: 753px;
	height: 100%;
	float: left;
}

.foot-mid ul li {
	padding: 0 3px;
	border-right: 1px solid #b0b0b0;
	float: left;
	font-size: 12px;
}

.foot-mid ul li:last-child {
	border-right: 0;
}

.foot-mid ul li a {
	color: #818181;
}

.foot-mid ul li a:hover {
	color: #ff6700;
}

.foot-mid span {
	font-size: 12px;
	color: #b4b4b4;
}

.foot-mid span a {
	color: #b4b4b4;
}

.foot-mid span a:hover {
	color: #ff6700;
}

.foot-r {
	height: 100%;
	float: left;
}

.foot-r a {
	width: 85px;
	height: 30px;
	float: left;
	display: block;
	margin-right: 6px;
}

.foot-r a img {
	width: 85px;
	height: 30px;
}

.foot-text {
	margin-top: 30px;
	text-align: center;
	color: #bababa;
	font-family: "华文仿宋";
	font-size: 20px;
}


/* 版权结束 */