.blog{
	margin: 30px 0;
	width: 100%;
	height: auto;
}
.blog main{
	overflow: hidden;
	height: auto;
}
.blogList{
		background: #fff;
	width: 900px;
	height: auto;
	padding: 25px;
	box-sizing: border-box;float: left;
}
.blogList li{
	padding: 20px 0;
	width: 100%;
	border-bottom: 1px solid #F0F2F5;
	box-sizing: border-box;font-size: 14px;color: #999;
}
.blogList .blog-img{
	float: left;width: 160px;height: 120px;font-size: 0;margin-right: 25px;
}
.blog-img img{
	width: 100%;height: 100%;
}
.blogList li>a{
	color: #666;
	display: inline-block;
	font-size: 20px;
	line-height: 25px;
}
.blog a:hover{
	text-decoration: underline;
	color: #00b3ff;
}
.blogList li>span{
	display: block;
	margin: 10px 0;
}
.blogList li>p>span{
	float: right;font-size: 12px;
}


.blogMore{
	float: right;
	width:270px;background: #fff;
	padding: 25px;box-sizing: border-box;
}
.blogMore form{
	position: relative;
}
.blogMore input{
	width: 100%;box-sizing: border-box;
	height: 36px;line-height: 36px;border-radius: 36px;border: 1px solid #E4EAEC;outline: none;
	padding-left: 20px;
}
.blogMore form .blogBtn{
	width: 36px;height: 36px;border-radius: 50%;border: none;background: none;line-height: 36px;text-align: center;position: absolute;top:0;right: 10px;color: #4e2a1a;
	outline:none; cursor: pointer;
}
.blogMore h3{
	margin: 20px 0; color: #536167;
	
}
.blogMore ul{
	border: 1px solid #E4EAEC;border-bottom: none;
}
.blogMore ul li{
	font-size: 14px;
	line-height: 35px;padding-left: 15px;width: 100%;box-sizing: border-box;border-bottom: 1px solid #E4EAEC;
}
.blogMore ul li a{
	color: #2A333C;
}
.a-box{
	border-top: 1px solid #F0F2F5;
	margin-top: 20px;padding-top: 15px;
}
.a-box a{
	color: #2A333C;line-height: 30px;display: inline-block;
}
