html,body,div,ul,li,h3,h4,img,p{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
.box {
	width: 1200px;
	height: 427px;
	margin: 20px auto;
	border: 1px solid #dfdfdf;
	box-sizing: border-box;
}

.box-text {
	width: 100%;
	height: 45px;
	line-height: 45px;
	border-bottom: 1px solid #dfdfdf;
	padding: 0 15px;
	box-sizing: border-box;
}
.box-text h4{
	color: #0085D0;
	float: left;
}

.box-text a {
	color: #747474;
	float: right;
	font-size: 14px;
}

.box-text a:hover{
	color: #3F86D1;
}

.box-left {
	width: 300px;
	height: 380px;
	background: red;
	float: left;
}

.box-left img{
	width: 100%;
	height: 100%;
}

.box-right {
	width: 898px;
	height: 380px;
	float: left;
}
.box-right li {
	width: 33.333333%;
	height: 50%;
	float: left;
	border-left: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	box-sizing: border-box;
}

.box-right li a{
	width: 100%;
	height: 100%;
	float: left;
	position: relative;
}
.box-right .box-r-li{
	border-bottom: none;
}

.box-right li img{
	transition: all 0.3s;
}

.box-right li:nth-of-type(2n+1) a h3{
	color: #333;
	margin-top: 6px;
	line-height: 25px;
	margin-left: 20px;
}
.box-right li:nth-of-type(2n+1) a p {
	font-size: 12px;
	color: #666;
	margin-left: 20px;
}
.box-right li:nth-of-type(2n+1) a img{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 10;
}

.box-right li:nth-of-type(2n){
	background: #efefef;
}
.box-right li:nth-of-type(2n) a h3{
	color: #e40077;
	margin-top: 6px;
	line-height: 25px;
	margin-left: 20px;
}
.box-right li:nth-of-type(2n) a p {
	font-size: 12px;
	color: #8e8e8e;
	margin-left: 20px;
}
.box-right li:nth-of-type(2n) a img{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 10;
}
.box-right li:hover img{
	transform: translateX(-6px);
}



.xyh{
	width: 1200px;
	height: 427px;
	margin: 20px auto;
}
.title{
	width: 1198px;
	height: 47px;
	border: 1px solid #d6d6d6;
}
.bottom{
	width: 1200px;
	height: 378px;
}
.left{
	width: 298px;
	height: 377px;
	border: 1px solid #D6D6D6;
	border-top: none;
	float: left;
}
.right{
	width: 900px;
	height: 378px;
	float: left;
}
.right>li{
	width: 299px;
	height: 188px;
	float: left;
	border-right: 1px solid #D6D6D6;
	border-bottom: 1px solid #D6D6D6;
}


.xyh2{
	width: 1199px;
	height: 425px;
	margin: 20px auto;
	border: 1px solid #D6D6D6;
	border-right: none;
}
.title2{
	width: 1198px;
	height: 47px;
	border-right: 1px solid #D6D6D6;
}
.left2{
	width: 298px;
	height: 377px;
	float: left;
	border-right: 1px solid #D6D6D6;
	border-top: 1px solid #D6D6D6;
}
.right2{
	width: 900px;
	height: 378px;
	float: left;
}
.right2>li{
	width: 299px;
	height: 188px;
	float: left;
	border-top: 1px solid #D6D6D6;
	border-right: 1px solid #D6D6D6;
}


/*响应式*/
.xyh3{
	max-width: 1200px;
	height: auto;
	margin: 30px auto;
	overflow: hidden;
	padding: 0 30px;
	/*box-sizing: border-box;*/
}
.title3{
	max-width:1198px;
	height: 47px;
	line-height: 47px;
	padding: 0 15px;
	border: 1px solid #D6D6D6;
	/*border-left: 1px solid #D6D6D6;	
	border-right: 1px solid #D6D6D6;*/
}

.xyh3>.xyh-body1{
	width: 25%;
	height: 378px;
	border-left: 1px solid #D6D6D6;
	box-sizing: border-box;
	float: left;
}
.xyh3>.xyh-body1:first-of-type{
	border-bottom: 1px solid #D6D6D6;
}
.xyh3>.xyh-body1:last-child{
	border-right: 1px solid #D6D6D6;
}
.xyh-ren{
	background: #efefef;
}
.title3 h4{
	color: #0085D0;
	float: left;
}

.title3 a {
	color: #747474;
	float: right;
	font-size: 14px;
}

.title3 a:hover{
	color: #3F86D1;
}

.xyh-body1>img{
	width: 100%;
	height: 100%;
}
.xyh-body1>a{
	display: block;
	width: 100%;
	height: 50%;
	border-bottom: 1px solid #D6D6D6;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}
.xyh-body1>a h3{
	color: #333;
	margin-top: 6px;
	line-height: 25px;
	margin-left: 20px;
}
.xyh-body1>a p {
	font-size: 12px;
	color: #666;
	margin-left: 20px;
}
.xyh-body1>a img{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 10;
	transition: all 0.6s;
}
.xyh-body1>a:hover img{
	transform: translateX(-6px);
}

@media screen and (max-width:968px ) {
	.xyh3>.xyh-body1{
		width: 50%;
	}
	.xyh3>.xyh-body1:nth-of-type(2){
		border-right: 1px solid #d6d6d6;
	}
}

